{% extends 'dashboard.html.twig' %}

{% block title %}Hello ScheduleController!{% endblock %}

{% block content %}

  <div {{ stimulus_controller('modal-form', {formUrl: path('schedule') }) }} 
		data-action="hidden.bs.modal->modal-form#modalHidden">
{% include "top-bar.html.twig" with {'title':'Agenda','btn':'<!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-action="modal-form#openModal">
        Add visit
      </button>'} %}
      {{ include('_modal.html.twig', { modalTitle: 'Add a new Visit',  }) }}
  </div>
  
<div class="card">

  <div class="card-body">
    <div id='calendar'></div>
  </div>
</div>
{% endblock %}


{% block javascripts %}  
{{ parent() }} 
  {{ encore_entry_script_tags('schedule') }} 

{% endblock %} 