{% extends 'dashboard.html.twig' %}

{% block title %}Edit Client
{% endblock %}

{% block content %}
	<h1>Edit Client</h1>

	<div class="card">
		<div class="card-body">
			{{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
	</div>

{% endblock %}
