{% extends 'dashboard.html.twig' %}

{% block title %}Client index
{% endblock %}

{% block content %}
{% include "top-bar.html.twig" with {'title':'Clients','btn':''} %}
	<div class="card">
		<div class="card-body" data-reload-content-target="content">
			<table id="example" class="table">
				<thead>
					<tr>
						<th>CodeUniq</th>
						<th>Email</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
						<tr>
							<td>{{ client.codeUniq }}</td>
							<td>{{ client.email }}</td>
							<td>
								<a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="4">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
{% endblock %}
