<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
       <meta name="theme-color" content="#7952b3">
    </head>
    <body>

       {% block body %}{% endblock %}
       {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script> #}
        {% endblock %}
    </body>
</html>
