{% extends "base.html.twig" %}
{% block body %}
	{% set route = app.request.get('_route') %}
    {% set adminMenu = [{ 'text': 'Dashboard', 'icon': 'fs-4 bi-speedometer2','route':'dashboard', 'path': path('admin_dashboard'),},
                        { 'text': 'Commerciaux', 'icon': 'fs-4 bi-speedometer2','route':'dashboard', 'path': path('admin_dashboard'),},
                        
                        ] %}
    {% set userMenu = [ { 'text': 'Dashboard', 'icon': 'fs-4 bi-speedometer2','route':'dashboard', 'path': path('dashboard'),},
                        { 'text': 'Agenda', 'icon':'bi bi-calendar-event','route':'schedule', 'path': path('schedule')},
                        { 'text': 'Visits', 'icon':'bi bi-card-list', 'route':'visit_index', 'path':path('visit_index')},
                            ]%}                    
	<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<div class="container">
			<a class="navbar-brand" href="#">
				<h4>Commercial Reporting</h4>
			</a>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0  bg-light">
				{% if is_granted('ROLE_ADMIN') %}
                {% include "_left_side_bar.html.twig" with {'menu':  adminMenu } %}   
					
                {% else %}
                    {% include "_left_side_bar.html.twig" with {'menu': userMenu } %}
				{% endif %}


			</div>
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				{% block content %}{% endblock %}
			</main>
		</div>

	</div>
{% endblock %}
